<footer>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <style>
        .waves2 {
            background-image: url('./layered-waves-haikei.svg');
            height: 500px;
        }

        .spacer2 {
            width: 100%;
            background-repeat: no-repeat;
            /* background-position: center; */
            background-size: cover;
        }
    </style>
    <div class="spacer2 waves2"></div>
</footer>